<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.johnhao.listviewdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SecActivity">
            <intent-filter>
                <action android:name="com.johnhao.listviewdemo.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MY_CATEGROY" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThrActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FourthActivity" />
        <activity android:name=".activity.ListviewActivity" />
        <activity android:name=".activity.RecycleviewActivity" />
        <activity android:name=".activity.RecyclehorActivity" />
        <activity android:name=".activity.RecycleviewStagActivity" />
        <activity android:name=".activity.UIBestPraticeActivity" />
        <activity android:name=".activity.ListViewDemoActivity" />
        <activity android:name=".activity.RecycleViewDemoActivity" />
        <activity android:name=".activity.FragmentSimActivity" />
        <activity android:name=".activity.FragmentDemoActivity" />
        <activity android:name=".activity.FragmentAddActivity" />
        <activity android:name=".activity.NewsTitleActivity" />
        <activity android:name=".activity.NewsContentActivity" />
        <activity android:name=".activity.BroadcastDemoActivity" />
        <activity android:name=".activity.NewworkChangeActivity" />
        <activity android:name=".activity.MyBroadcastReceiverActivity" />

        <receiver
            android:name=".receiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.johnhao.listviewdemo.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.LocalBroadcastActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.AfterLoginActivity" />
        <activity android:name=".activity.PersistenceDemoActivity" />
        <activity android:name=".activity.PersSaveFileActivity" />
        <activity android:name=".activity.PreSharedPreferencesActivity" />
        <activity android:name=".activity.LoginAdvActivity" />
        <activity android:name=".activity.SQLiteActivity" />
        <activity android:name=".activity.ContentProviderDemoActivity" />
        <activity android:name=".activity.ContentProviderMakeCallActivity" />
        <activity android:name=".activity.ContentProviderContactActivity" />
        <activity android:name=".activity.CameraAlbumActivity" />
        <activity android:name=".activity.MediaDemoActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.johnhao.listviewdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.MediaPlayAudioActivity" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>